.card-body{
    width: 270px;
    height: 400px;
    margin-bottom:20px;
    background: #748181;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.img-part{
    width: 100%;
    background: #ffffff9c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    overflow: hidden;
}

.card-body h1{
    font-size: 1rem;
}

.card-body h2{
    font-size: 0.9rem;
    margin: 5px 0;
}

.img-container{
    width: 150px;
    height: 250px;
    
}

.img-container img{
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px #000;
}

.main-info{
    text-align: left;
    width: 100%;
    padding: 10px;
    height: 40%;
    text-shadow: 1px 1px 2px #000;
}