.wrapper {
  background: #574b60;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BooksHolder {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.BooksHolder h1 {
  color: #fff;
  padding: 20px;
}
