.wrapper {
  background: #d1c4e9;
  padding: 50px;
  color: #000;
}

.search-container {
  width: 100%;
  margin: 0 auto;
}

.search-container button:hover {
  background: #65499c;
  color: #fff;
  border: none;
}

.searchSettings {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.search {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  outline: none;
}
